<!DOCTYPE html> 
<html> 

<head> 
	<title> 
		AngularJS orderBy Filters 
	</title> 
	<script src= 
"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"> 
	</script> 
	<style> 
		.tabled { 
			float: center; 
			padding: 10px; 
		} 
	</style> 
</head> 

<body ng-app="orderBy"> 
	<div style="text-align:center"> 
		<h3> 
			AngularJS orderBy Filter 
		</h3> 
	</div> 
	<script> 
		angular.module('orderBy', []) 
			.controller('orderByController', 
				['$scope', function($scope) { 
			$scope.countries = [{ 
				name: 'SPAIN', 
				states: '78', 
				gdp: 5 
			}, { 
				name: 'FRANCE', 
				states: '46', 
				gdp: 4 
			}, { 
				name: 'PORTUGAL', 
				states: '53', 
				gdp: 3 
			}, { 
				name: 'CHILE', 
				states: '06', 
				gdp: 2 
			}, { 
				name: 'RUSSIA', 
				states: '21', 
				gdp: 1 
			}]; 
		}]); 
	</script> 
	<div ng-controller="orderByController"> 
		<table class="tabled"> 
			<tr> 
				<th>Name</th> 
				<th>No of States</th> 
				<th>GDP</th> 
			</tr> 
			<tr ng-repeat="country in countries | orderBy:'-gdp'"> 
				<td>{{country.name}}</td> 
				<td>{{country.states}}</td> 
				<td>{{country.gdp}}</td> 
			</tr> 
		</table> 
		<table class="tabled"> 
			<tr> 
				<th>Name</th> 
				<th>No of States</th> 
				<th>GDP</th> 
			</tr> 
			<tr ng-repeat="country in countries | orderBy:'gdp'"> 
				<td>{{country.name}}</td> 
				<td>{{country.states}}</td> 
				<td>{{country.gdp}}</td> 
			</tr> 
		</table> 
	</div> 
</body> 
</html>
