<table>
  <thead>
    <tr>
      <th (click)="sort('name')">Name</th>
      <th (click)="sort('age')">Age</th>
      <th (click)="sort('city')">City</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of paginatedPeople">
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.city }}</td>
    </tr>
  </tbody>
</table>
<mat-paginator [length]="people.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="handlePage($event)">
</mat-paginator>
